
.orderEven {
    background-color: lightgray;
}

.orderOdd {
    background-color: lightblue;
}

.orderTitle {
    background-color: cornflowerblue;
}


table tr td a{
    
    text-decoration: none;
}



